<div class="container">
  <div class="d-flex flex-column flex-sm-row justify-content-between border-top">
    <p>&copy; {{ currentYear }} Company, Inc. All rights reserved.</p>

    <ul class="list-unstyled d-flex">
      <li class="ms-3">
        <a
          class="link-body-emphasis"
          href="https://instagram.com"
          target="_blank"
          rel="noopener"
          aria-label="Instagram"
        >
          <i class="bi bi-instagram fs-5"></i>
        </a>
      </li>

      <li class="ms-3">
        <a
          class="link-body-emphasis"
          href="https://facebook.com"
          target="_blank"
          rel="noopener"
          aria-label="Facebook"
        >
          <i class="bi bi-facebook fs-5"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
